
.main{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

main{
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: red;
 width: 400px;
 height: 600px;
 
}

main h1{
 text-align: center;
 padding: 300px 0px;
 font-weight: bold;
}

nav{
 display: flex;
 justify-content: center;
 align-items: center;

}

nav a{
 margin: 0px 40px;
 color: #666;
}

nav a i{
    

}
